In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

import acquire
import prepare
import features

from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, explained_variance_score, r2_score

from sklearn.feature_selection import SelectKBest, f_regression, RFE

from sklearn.linear_model import LinearRegression, LassoLars

from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = acquire.acquire_only('SELECT * FROM properties_2017')

In [5]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,County
id,,,,,,,,,,,,,,,,,,,,,
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,2016.0,9.0,NaN,None,NaN,NaN,Los Angeles
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,27516.0,2015.0,27516.0,NaN,None,NaN,NaN,Los Angeles
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,None,NaN,NaN,Los Angeles
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,None,NaN,NaN,Los Angeles
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,None,NaN,NaN,Los Angeles